
*.java
*.zip
*.properties
*.yml
config-service/
catalog-service/
config-repo/
*.xml
customer-service/mvnw.cmd
customer-service/mvnw
order-service/
polar-deployment/
edge-service/
customer-service/.mvn/wrapper/maven-wrapper.jar
customer-service/.mvn/wrapper/maven-wrapper.jar
my-java-image/Dockerfile
customer-service/.mvn/wrapper/maven-wrapper.jar
*.jar
